# http://editorconfig.org
root = true

[*]
charset = utf-8
continuation_indent_size = 4
curly_bracket_next_line = false
end_of_line = lf
indent_brace_style = Stroustrup
indent_size = 2
indent_style = space
insert_final_newline = true
spaces_around_brackets = outside
spaces_around_operators = true
trim_trailing_whitespace = true

[*.{py,robot}]
indent_style = space
indent_size = 4

[*.{js,jsx,ts,tsx,js.hbs}]
indent_style = space
indent_size = 2
max_line_length = 120
quote_type = single

[*.json]
indent_style = space
indent_size = 2
insert_final_newline = ignore

[*.yml]
indent_style = space
indent_size = 2

[*.{css,scss,less}]
indent_style = space
indent_size = 2
max_line_length = 120
quote_type = single

[Makefile]
indent_style = tab

[{*.bat,*reg,*.ps1,*.vbs,*.cs,*.fs,*.ahk}]
end_of_line = crlf

[*.{md,mdwn,mdown,markdown,apib}]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = false

[*.{bat,reg,ps1,vbs,cs,,fs,ahk}]
end_of_line = crlf
