name: Validate Renovate Config

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install Renovate CLI
        run: npm install -g renovate

      - name: Validate config
        run: renovate-config-validator
