name: Validate Renovate Config

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Renovate CLI
        run: npm install -g renovate

      - name: Validate config
        run: renovate-config-validator
